.recommendations__div--cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: black;
    
}

.recommendations__div--cards p {
    background-color: #FEFAF5;
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4 {
    border-bottom: 3px solid black;
    width: 90%;
    display: flex;
    justify-content: center;
}

.section__recommendations--country {
    color: #FFFFFF;
    font-size: 70px;
    margin: 0;
    padding: 5% 6%;
    width: 90%;
}

section {
    height: 80vh;
}

.section__recommendations {
    background-size: cover;
    background-position: 50% 50%;
}

.section__recommendations--iceland {
    background-image: url("../assets/images/Images/iceland.jpg");
}

.section__recommendations--hawaii {
    background-image: url("../assets/images/Images/hawaii.jpg");
}

.section__recommendations--greece {
    background-image: url("../assets/images/Images/greece.jpg");
}