.section__recommendations--iceland {
    background-image: url("../assets/images/Images/iceland.jpg");
}

.section__recommendations--hawaii {
    background-image: url("../assets/images/Images/hawaii.jpg");
}

.section__recommendations--greece {
    background-image: url("../assets/images/Images/greece.jpg");
}

.recommendations__div--cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    color: black;
    
}

.recommendations__unordered-list {
    width: 90%;
    display: block;
    justify-content: center;
    align-items: space-between;
    margin: 0;
    height: 70%;
}

.recommendations__list-items {
    list-style: none;
    background-color: #FEFAF5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    margin-bottom: 1rem;
}

.recommendations__div--cards ul {
    padding: 0;
}

h4 {
    border-bottom: 3px solid black;
    width: 90%;
    display: flex;
    justify-content: center;
}

.section__recommendations--country {
    color: #FFFFFF;
    font-size: 70px;
    margin: 0;
    padding: 9% 6% 6%;
    width: 90%;
}

section {
    height: 90vh;
}

.section__recommendations {
    background-size: cover;
    background-position: 50% 50%;
}