body {
    min-width: 1280px;
    max-width: 1280px;
    color: #335576;
    font-family: Verdana;
    display: block;
    justify-content: center;
    margin: 0;
}

/* header */
h1 {
    text-decoration: none;
    color: #335576;
}

a {
    text-decoration: none;
    color: #335576; 
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 6%;
    background-color: #FFFFFF;
    
}

.header__container--left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__country--list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

.header__country--list li {
    padding: 0 4%;    
}

.header__country--list a {
    text-decoration: none;
    color: black;
}

/* global cards */
h2 {
    margin: 3% 0;
}

.section__recommendations--div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 15%;
}

.recommendations__div--cards {
    border: 1px solid black;
    border-radius: 15px;
    width: 270px;
    height: 425px;
    background-size: cover;
}

/* footer */
footer {
    background-color: #FEFAF5;
    color:#335576;
}

.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0% 15% 0% 15%;
    padding: 2% 0;
}

.footer__container p {
    margin-top: 0;
}

.footer__container img {
    padding-bottom: 19px;
}

.footer__container--div {
    display: flex;
    flex-direction: column;
    
}

.footer__header{
    font-size: x-large;
}

.footer__sub-heading--info {
    font-size: 90%;
}

.footer__sub-heading {
    color: #DB7A4E;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.6rem;
}

.contact__div { 
    flex: 3; 
}

.days__div-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    
}

.hours__div {
    flex: 7;
}

.social__div {
    flex: 3;
    display: flex;
    justify-content: space-between;
}

.footer__social--div {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.footer__social--div img {
    max-width: 1.5rem;
    max-height: 1.5rem;
}