/* header */
.li__home {
    padding-bottom: 15%;
    border-bottom: 3px solid #DB7A4E;
}

/* hero section */
.hero__section {
    color: #335576;
    background-color: #FEFAF5;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6%;

}


.hero__section--div-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 52%;
}

.hero__section h1 {
    font-size: 2.5rem;
}

button {
    border: none;
    border-radius: 20px;
    padding: 10px 50px;
    margin-top: 2%;
    font-size: 1em;
    text-decoration: none;
    float: left;
    cursor: pointer;
    font-weight: 400;
    color: white;
    background-color: #DB7A4E;
}

.hero__section--div-right {
    display: flex;
    justify-content: end;
    
}

.hero__pic {
    max-width: 100%;
    max-height: 100%;
}

/* recommendations */
.section__recommendations {
    margin: 2%;
}

.section__recommendations--div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 6%;
    
}

.recommendations__div--cards {
    border: 1px solid none;
    border-radius: 15px;
    width: 270px;
    height: 425px;
    background-size: cover;
    
}

.card__headline {
    color: white;
    font-weight: 600;
    font-size: x-large;
    /* margin-right: 5%;
    margin-top: 120%; */
    display: flex;
    justify-content: end;
    
}

.card__greece {
    background-image: url("../assets/images/Images/greece.jpg");
    
}

.card__hawaii {
    background-image: url("../assets/images/Images/hawaii.jpg");
}

.card__iceland {
    background-image: url("../assets/images/Images/iceland.jpg");
}